<tr>
	<td><%= idx %></td>
	<td><%= page[:name] %></td>
        <td><%= page[:label] %></td>
	<td><%= page[:pageId] %></td>
	<td><%= page[:page_exist] %></td>
	<td><%= page[:trans_exist] %></a></td>
</tr>
